<section>
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="center">
            <div class="form">
                <!-- Foto del Proyecto -->
                <div class="custom-file-upload">
                    <label for="imgP">
                        <mat-icon color="primary" matTooltip="Seleccionar Foto del Proyecto" matTooltipPosition="below">
                            add_a_photo
                        </mat-icon>
                    </label>
                    <input type="file" id="imgP" name="imgP" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
                </div>
                <!-- Nombre -->
                <mat-form-field appearance="fill">
                    <mat-label for="nombreP">Nombre del proyecto.</mat-label>
                    <input type="text" id="nombreP" name="nombreP" [(ngModel)]="proy.nombreP" required matInput>
                </mat-form-field>
                <!-- Año -->
                <mat-form-field appearance="fill">
                    <mat-label for="anioP">Año del Proyecto.</mat-label>
                    <input type="text" id="anioP" name="anioP" [(ngModel)]="proy.anioP" required matInput>
                </mat-form-field>
                <!-- Descripción -->
                <mat-form-field appearance="fill">
                    <mat-label for="descripciónP">Descripción.</mat-label>
                    <textarea type="text" id="descripciónP" name="descripciónP" [(ngModel)]="proy.descripcionP" required
                        matInput></textarea>
                </mat-form-field>
                <!-- Botón -->
                <button mat-stroked-button color="accent">
                    <mat-icon>create</mat-icon> Modificar Proyecto
                </button>
            </div>
        </div>
    </form>
</section>