.container {
    margin: 2em;
    background-color: aliceblue;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.container-2 {
    margin: 3em;
    margin-top: 0;
}