<!-- Barra -->
<app-nav></app-nav>

<section class="container">

    <!-- Encabezado-->
    <header>
        <app-encabezado></app-encabezado>
    </header>

    <section class="container-2">

        <!-- Persona-->
        <app-persona></app-persona>
        <mat-divider></mat-divider>

        <!-- Acerca de 
        <app-acerca-de></app-acerca-de>
        <mat-divider></mat-divider> -->

        <!-- Experiencia -->
        <app-experiencia></app-experiencia>
        <mat-divider></mat-divider>

        <!-- Educación -->
        <app-educacion></app-educacion>
        <mat-divider></mat-divider>

        <!-- Skills -->
        <app-skills></app-skills>
        <mat-divider></mat-divider>

        <!-- Proyectos -->
        <app-proyectos></app-proyectos>
        <mat-divider></mat-divider>
    </section>

</section>
