<div>
    <h3>HTML5, CSS, JavaScript</h3>
    <mat-progress-bar mode="determinate" value="75" color="accent"></mat-progress-bar>
</div>

<div>
    <h3>Java Web</h3>
    <mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
</div>

<div>
    <h3>Angular 12</h3>
    <mat-progress-bar mode="determinate" value="60" color="accent"></mat-progress-bar>
</div>

<div>
    <h3>SpringBoot, MySQL</h3>
    <mat-progress-bar mode="determinate" value="50" color="accent"></mat-progress-bar>
</div>

<div>
    <h3>Inglés - First Certificate (level B2)</h3>
    <mat-progress-bar mode="determinate" value="60" color="accent"></mat-progress-bar>
</div>