<section>
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" *ngIf="educacion">
        <div class="center">
            <div class="form">
                <!-- Foto del Proyecto -->
                <div class="custom-file-upload">
                    <label for="imgE">
                        <mat-icon color="primary" matTooltip="Seleccionar Imagen" matTooltipPosition="below">
                            add_a_photo
                        </mat-icon>
                    </label>
                    <input type="file" id="imgE" name="imgE" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
                </div>
                <!-- Nombre -->
                <mat-form-field appearance="fill">
                    <mat-label for="nombreE">Nombre de la Institución.</mat-label>
                    <input type="text" id="nombreE" name="nombreE" [(ngModel)]="educacion.nombreE" required matInput>
                </mat-form-field>
                <!-- Descripción -->
                <mat-form-field appearance="fill">
                    <mat-label for="descripcionE">Nombre de la carrera.</mat-label>
                    <input type="text" id="descripcionE" name="descripcionE" [(ngModel)]="educacion.descripcionE"
                        required matInput>
                </mat-form-field>
                <!-- Botón -->
                <button mat-stroked-button color="accent">
                    <mat-icon>create</mat-icon> Modificar educación
                </button>
            </div>
        </div>
    </form>
</section>