span {
  flex: 1 1 auto;
}

.ap-logo {
  height: 35px;
  width: fit-content;
  margin-left: 1em;
}

.social-logo {
  height: 27px;
  width: fit-content;
  padding: 15px;
}

button {
  margin-left: 1em;
  margin-right: 1em;
}


.banner{
  height: 200px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: url(../../../assets/vangogh_banner.jpg);
  background-repeat: repeat;
}

.foto {
  width: 150px;
  height: 150px;
  margin: 3em;
  border-radius: 50%;
  background-color: aliceblue;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.5));
  position: relative; top: 85px;
}

.spacer{
  height: 100px
}
