<div class="container">

    <div>
        <img src="../../../assets/utn_logo.png">
    </div>

    <div>
        <h3>Universidad Tecnológica Nacional - (UTN)</h3>
        <h4>Ingeniería en Sistemas de la Información</h4>
        <p>2021 - Actualidad</p>
    </div>

</div>

<mat-divider></mat-divider>

<div class="container">

    <div>
        <img src="../../../assets/una_logo.png">
    </div>

    <div>
        <h3>Universidad Nacional de las Artes - (UNA)</h3>
        <h4>Licenciatura en Artes Audiovisuales</h4>
        <p>2008 - 2019</p>
    </div>

</div>

<mat-divider></mat-divider>

<div class="container">

    <div>
        <img src="../../../assets/csc_logo.png">
    </div>

    <div>
        <h3>Colegio Sagrado Corazón - Lomas de Zamora</h3>
        <h4>Bachiller en Ciencias Naturales</h4>
        <p>Egreso 2007</p>
    </div>

</div>

<mat-divider></mat-divider>