span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to top right, #37BBED, #185D76) ;
    padding: 1em;
}

button {
    margin: 0 1em 0 1em;
}

#container {
    display: flex;
    align-items: center;
}

#logo {
    height: 25px;
    padding: 0 1em 0 1em;
}