<section>
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="center">
            <div class="form">
                <!-- Foto del Proyecto -->
                <div class="custom-file-upload">
                    <label for="imgS">
                        <mat-icon color="primary" matTooltip="Seleccionar Foto de la Skill" matTooltipPosition="below">
                            add_a_photo
                        </mat-icon>
                    </label>
                    <input type="file" id="imgS" name="imgS" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
                </div>
                <!-- Nombre -->
                <mat-form-field appearance="fill">
                    <mat-label for="nombreS">Ingrese una Skill</mat-label>
                    <input type="text" id="nombreS" name="nombreS" [(ngModel)]="nombreS" required matInput>
                </mat-form-field>
                <!-- Porcentaje -->
                <mat-form-field appearance="fill">
                    <mat-label for="porcentajeS">Porcentaje</mat-label>
                    <input type="number" id="porcentajeS" name="porcentajeS" [(ngModel)]="porcentajeS" required
                        matInput>
                </mat-form-field>
                <!-- Botón -->
                <button mat-stroked-button color="accent">
                    <mat-icon>add_circle</mat-icon> Agregar Skill
                </button>
            </div>
        </div>
    </form>
</section>